schema/fdml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root FDML document -->
  <xs:element name="fdml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta" type="MetaType"/>
        <xs:element name="body" type="BodyType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ===================== -->
  <!-- Meta section          -->
  <!-- ===================== -->

  <xs:complexType name="MetaType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="dance" type="DanceType" minOccurs="0"/>
      <xs:element name="origin" type="OriginType" minOccurs="0"/>
      <xs:element name="type" type="TypeType" minOccurs="0"/>
      <xs:element name="meter" type="MeterType" minOccurs="0"/>
      <xs:element name="tempo" type="TempoType" minOccurs="0"/>
      <xs:element name="formation" type="FormationType" minOccurs="0"/>
      <xs:element name="styling" type="StylingType" minOccurs="0"/>
      <xs:element name="music" type="MusicType" minOccurs="0"/>
      <xs:element name="source" type="SourceType" minOccurs="0"/>
      <xs:element name="difficulty" type="DifficultyType" minOccurs="0"/>
      <xs:element name="tags" type="TagsType" minOccurs="0"/>
      <xs:element name="author" type="AuthorType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DanceType">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="OriginType">
    <xs:attribute name="country" type="xs:string" use="required"/>
    <xs:attribute name="region" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="TypeType">
    <xs:attribute name="genre" type="xs:string" use="required"/>
    <xs:attribute name="style" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="MeterType">
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="rhythmPattern" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="TempoType">
    <xs:attribute name="bpm" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="FormationType">
    <xs:attribute name="text" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="StylingType">
    <xs:sequence>
      <xs:element name="p" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MusicType">
    <xs:sequence>
      <xs:element name="record" type="RecordType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecordType">
    <xs:attribute name="label" type="xs:string" use="optional"/>
    <xs:attribute name="track" type="xs:string" use="required"/>
    <xs:attribute name="medium" type="xs:string" use="optional"/>
    <xs:attribute name="year" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="SourceType">
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="author" type="xs:string" use="optional"/>
    <xs:attribute name="year" type="xs:string" use="optional"/>
    <xs:attribute name="publisher" type="xs:string" use="optional"/>
    <xs:attribute name="url" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DifficultyType">
    <xs:attribute name="level" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="TagsType">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="email" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ===================== -->
  <!-- Body section          -->
  <!-- ===================== -->

  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="section" type="SectionType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="part" type="PartType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="figure" type="FigureType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sequence" type="SequenceType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SectionType" mixed="true">
    <xs:sequence>
      <xs:element name="p" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="type" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PartType">
    <xs:sequence>
      <xs:element name="figure" type="FigureType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="label" type="xs:string" use="optional"/>
    <xs:attribute name="repeat" type="xs:integer" use="optional"/>
  </xs:complexType>

  <xs:complexType name="FigureType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="step" type="StepType"/>
      <xs:element name="measureRange" type="MeasureRangeType"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="formation" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="MeasureRangeType">
    <xs:sequence>
      <xs:element name="step" type="StepType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="from" type="xs:integer" use="required"/>
    <xs:attribute name="to" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="StepType" mixed="true">
    <xs:attribute name="who" type="xs:string" use="required"/>
    <xs:attribute name="action" type="xs:string" use="required"/>
    <xs:attribute name="beats" type="xs:integer" use="required"/>
    <xs:attribute name="startFoot" type="xs:string" use="optional"/>
    <xs:attribute name="endFoot" type="xs:string" use="optional"/>
    <xs:attribute name="direction" type="xs:string" use="optional"/>
    <xs:attribute name="facing" type="xs:string" use="optional"/>
    <xs:attribute name="count" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="SequenceType">
    <xs:sequence>
      <xs:element name="use" type="UseType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="UseType">
    <xs:attribute name="figure" type="xs:string" use="optional"/>
    <xs:attribute name="part" type="xs:string" use="optional"/>
    <xs:attribute name="repeat" type="xs:integer" use="optional"/>
  </xs:complexType>

</xs:schema>
