schema/fdml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root FDML document -->
  <xs:element name="fdml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta" type="MetaType"/>
        <xs:element name="body" type="BodyType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ===================== -->
  <!-- Meta section          -->
  <!-- ===================== -->

  <xs:complexType name="MetaType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="dance" type="DanceType" minOccurs="0"/>
      <xs:element name="origin" type="OriginType" minOccurs="0"/>
      <xs:element name="type" type="TypeType" minOccurs="0"/>
      <xs:element name="meter" type="MeterType" minOccurs="0"/>
      <xs:element name="tempo" type="TempoType" minOccurs="0"/>
      <xs:element name="formation" type="FormationType" minOccurs="0"/>
      <xs:element name="styling" type="StylingType" minOccurs="0"/>
      <xs:element name="music" type="MusicType" minOccurs="0"/>
      <xs:element name="source" type="SourceType" minOccurs="0"/>
      <xs:element name="difficulty" type="DifficultyType" minOccurs="0"/>
      <xs:element name="tags" type="TagsType" minOccurs="0"/>
      <xs:element name="author" type="AuthorType" minOccurs="0"/>

      <!-- FDML v1.2 (optional): structured geometry declarations -->
      <xs:element name="geometry" type="MetaGeometryType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DanceType">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="OriginType">
    <xs:attribute name="country" type="xs:string" use="required"/>
    <xs:attribute name="region" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="TypeType">
    <xs:attribute name="genre" type="xs:string" use="required"/>
    <xs:attribute name="style" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="MeterType">
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="rhythmPattern" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="TempoType">
    <xs:attribute name="bpm" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="FormationType">
    <xs:attribute name="text" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="StylingType">
    <xs:sequence>
      <xs:element name="p" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MusicType">
    <xs:sequence>
      <xs:element name="record" type="RecordType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RecordType">
    <xs:attribute name="label" type="xs:string" use="optional"/>
    <xs:attribute name="track" type="xs:string" use="required"/>
    <xs:attribute name="medium" type="xs:string" use="optional"/>
    <xs:attribute name="year" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="SourceType">
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="author" type="xs:string" use="optional"/>
    <xs:attribute name="year" type="xs:string" use="optional"/>
    <xs:attribute name="publisher" type="xs:string" use="optional"/>
    <xs:attribute name="url" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DifficultyType">
    <xs:attribute name="level" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="TagsType">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="email" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ===================== -->
  <!-- Body section          -->
  <!-- ===================== -->

  <xs:complexType name="BodyType">
    <xs:sequence>
      <!-- FDML v1.2 (optional): topology / formation specifics -->
      <xs:element name="geometry" type="BodyGeometryType" minOccurs="0"/>

      <xs:element name="section" type="SectionType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="part" type="PartType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="figure" type="FigureType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sequence" type="SequenceType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SectionType" mixed="true">
    <xs:sequence>
      <xs:element name="p" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="type" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PartType">
    <xs:sequence>
      <xs:element name="figure" type="FigureType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="label" type="xs:string" use="optional"/>
    <xs:attribute name="repeat" type="xs:integer" use="optional"/>
  </xs:complexType>

  <xs:complexType name="FigureType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="step" type="StepType"/>
      <xs:element name="measureRange" type="MeasureRangeType"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="formation" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="MeasureRangeType">
    <xs:sequence>
      <xs:element name="step" type="StepType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="from" type="xs:integer" use="required"/>
    <xs:attribute name="to" type="xs:integer" use="required"/>
  </xs:complexType>

  <!--
    StepType is mixed to preserve compatibility with existing inline notes text.
    FDML v1.2 adds an optional <geo> child containing one or more geometry primitives.
  -->
  <xs:complexType name="StepType" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="geo" type="GeoType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="who" type="xs:string" use="required"/>
    <xs:attribute name="action" type="xs:string" use="required"/>
    <xs:attribute name="beats" type="xs:integer" use="required"/>
    <xs:attribute name="startFoot" type="xs:string" use="optional"/>
    <xs:attribute name="endFoot" type="xs:string" use="optional"/>
    <xs:attribute name="direction" type="xs:string" use="optional"/>
    <xs:attribute name="facing" type="xs:string" use="optional"/>
    <xs:attribute name="count" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="SequenceType">
    <xs:sequence>
      <xs:element name="use" type="UseType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="UseType">
    <xs:attribute name="figure" type="xs:string" use="optional"/>
    <xs:attribute name="part" type="xs:string" use="optional"/>
    <xs:attribute name="repeat" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- ===================== -->
  <!-- FDML v1.2 Geometry    -->
  <!-- ===================== -->

  <!-- meta/geometry -->
  <xs:complexType name="MetaGeometryType">
    <xs:sequence>
      <xs:element name="formation" type="GeoFormationType"/>
      <xs:element name="hold" type="GeoHoldType" minOccurs="0"/>
      <xs:element name="dancers" type="GeoDancersType" minOccurs="0"/>
      <xs:element name="roles" type="GeoRolesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="GeoHoldKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="vPosition"/>
      <xs:enumeration value="beltHold"/>
      <xs:enumeration value="armenianHold"/>
      <xs:enumeration value="palmToPalm"/>
      <xs:enumeration value="none"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GeoHoldType">
    <xs:attribute name="kind" type="GeoHoldKind" use="required"/>
  </xs:complexType>

  <xs:simpleType name="GeoFormationKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="circle"/>
      <xs:enumeration value="line"/>
      <xs:enumeration value="couple"/>
      <xs:enumeration value="twoLinesFacing"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GeoWomanSide">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GeoFormationType">
    <xs:attribute name="kind" type="GeoFormationKind" use="required"/>
    <xs:attribute name="womanSide" type="GeoWomanSide" use="optional"/>
    <xs:attribute name="notes" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="GeoDancersType">
    <xs:attribute name="count" type="xs:integer" use="optional"/>
  </xs:complexType>

  <xs:complexType name="GeoRolesType">
    <xs:sequence>
      <xs:element name="role" type="GeoRoleType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GeoRoleType">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="notes" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- body/geometry -->
  <xs:complexType name="BodyGeometryType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="circle" type="BodyCircleType"/>
      <xs:element name="twoLines" type="BodyTwoLinesType"/>
      <xs:element name="couples" type="BodyCouplesType"/>
    
      <xs:element name="line" type="BodyLineType"/>
</xs:choice>
  </xs:complexType>

  <xs:complexType name="BodyCircleType">
    <xs:sequence>
      <xs:element name="order" type="BodyCircleOrderType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BodyCircleOrderType">
    <xs:sequence>
      <xs:element name="slot" type="BodyCircleSlotType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <!-- Backward-compatible shorthand: order the entire circle by a single role. -->
    <xs:attribute name="role" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="BodyCircleSlotType">
    <xs:attribute name="who" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="BodyTwoLinesType">
    <xs:sequence>
      <xs:element name="line" type="BodyTwoLinesLineType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="facing" type="BodyFacingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BodyTwoLinesLineType">
    <xs:sequence>
      <xs:element name="order" type="BodyLineOrderType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="role" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- body/geometry/line -->
  <xs:complexType name="BodyLineType">
    <xs:sequence>
      <xs:element name="order" type="BodyLineOrderType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="BodyLineOrderType">
    <xs:sequence>
      <xs:element name="slot" type="BodyLineSlotType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="phase" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="BodyLineSlotType">
    <xs:attribute name="who" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="BodyFacingType">
    <xs:attribute name="a" type="xs:string" use="required"/>
    <xs:attribute name="b" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="BodyCouplesType">
    <xs:sequence>
      <xs:element name="pair" type="BodyPairType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BodyPairType">
    <xs:attribute name="a" type="xs:string" use="required"/>
    <xs:attribute name="b" type="xs:string" use="required"/>
    <xs:attribute name="relationship" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- per-step geo primitives -->
  <xs:complexType name="GeoType">
    <xs:sequence>
      <xs:element name="primitive" type="GeoPrimitiveType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="GeoPrimitiveKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="move"/>
      <xs:enumeration value="face"/>
      <xs:enumeration value="turn"/>
      <xs:enumeration value="twirl"/>
      <xs:enumeration value="approach"/>
      <xs:enumeration value="retreat"/>
      <xs:enumeration value="swapPlaces"/>
      <xs:enumeration value="pass"/>
      <xs:enumeration value="weave"/>
      <xs:enumeration value="releaseHold"/>
      <xs:enumeration value="progress"/>
      <xs:enumeration value="relpos"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GeoRelation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="leftOf"/>
      <xs:enumeration value="rightOf"/>
      <xs:enumeration value="inFrontOf"/>
      <xs:enumeration value="behind"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GeoDir">
    <xs:restriction base="xs:string">
      <xs:enumeration value="clockwise"/>
      <xs:enumeration value="counterclockwise"/>
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="inward"/>
      <xs:enumeration value="outward"/>
      <xs:enumeration value="forward"/>
      <xs:enumeration value="backward"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GeoFrame">
    <xs:restriction base="xs:string">
      <xs:enumeration value="formation"/>
      <xs:enumeration value="dancer"/>
      <xs:enumeration value="opposite"/>
      <xs:enumeration value="neighbor"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GeoUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="beats"/>
      <xs:enumeration value="counts"/>
      <xs:enumeration value="measures"/>
      <xs:enumeration value="steps"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GeoPrimitiveType">
    <xs:attribute name="kind" type="GeoPrimitiveKind" use="required"/>
    <xs:attribute name="who" type="xs:string" use="optional"/>
    <xs:attribute name="a" type="xs:string" use="optional"/>
    <xs:attribute name="b" type="xs:string" use="optional"/>
    <xs:attribute name="holdKind" type="xs:string" use="optional"/>
    <xs:attribute name="delta" type="xs:integer" use="optional"/>
    <xs:attribute name="frame" type="GeoFrame" use="optional"/>
    <xs:attribute name="axis" type="xs:string" use="optional"/>
    <xs:attribute name="dir" type="GeoDir" use="optional"/>
    <xs:attribute name="relation" type="GeoRelation" use="optional"/>
    <xs:attribute name="amount" type="xs:decimal" use="optional"/>
    <xs:attribute name="unit" type="GeoUnit" use="optional"/>
    <xs:attribute name="preserveOrder" type="xs:boolean" use="optional"/>
    <xs:attribute name="handhold" type="xs:string" use="optional"/>
    <xs:attribute name="slot" type="xs:string" use="optional"/>
  </xs:complexType>

</xs:schema>
