schema/fdml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="fdml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta" minOccurs="1" maxOccurs="1"/>
        <xs:element name="body" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" fixed="1.0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
